.hero{
    display: flex;
    overflow: hidden;
}

.hero-image{
    position: relative;
    flex: 1;
    z-index: 5;

    display: flex;
    flex-direction: column;
}

.hero-image > img{
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero-image > h2{
    position: absolute;
    bottom: 10px;
    
    padding: 20px;
    margin-left: 30px;
    
    font-size: 4.5rem;
    color: #fff;
    /* line-height: 120%; */
    font-weight: 700;
}

.hero-image__overlay{
    position: absolute;
    inset: 0;
    width: 100%;

    background-color: var(--primary-color);
    z-index: -1;
    
}

.hero-content{
    flex: 1.12;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    
}

.hero-content__info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px;
}

.hero-content__info > h1{
    font-weight: 600;
    font-size: 4.5rem;
    font-family: var(--playfair-display);
    color: var(--secondary-color);

    line-height: 130%;
}

.hero-content__info > p{
    padding: 32px 0 0 32px;

    font-size: 1.1rem;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);

  line-height: 36px;
  /* letter-spacing: -0.01em; */

  color: var(--secondary-color);
  opacity: 0.8;
}

.hero-content__buttons{
    padding: 32px 0 0 32px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hero-content__buttons button{
    width: 100%;
    border-radius: 36px;
    border: none;
    outline: none;
    background-color: var(--black-200);
    padding: 10px;

    min-height: 50px;
    max-width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    

    color: #fff;
    font-weight: 500;

    cursor: pointer;
}

.hero-content__buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--black-200);

    display: flex;
    align-items: center;
    
    color: var(--black-200);
}

.hero-content__buttons button:nth-child(2) img{
    width: 32px;
    height: 32px;
    margin-right: 10px;

    object-fit: contain;
}

.hero-content__testimonial{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 32px 32px;

    background-color: #fff;
}

.hero-content__customer{
    flex: 1;
}

.hero-content__customer h4{
    font-size: 3.5rem;
    font-weight: 400;
    font-family: var(--playfair-display);
}

.hero-content__customer p{
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
}

.hero-content__review{
    flex: 1.2;

    display: flex;
    align-items: center;

    font-size: 0.71rem;
    line-height: 150%;
    font-family: var(--plus-jakarta-sans);

    border-left: 1px solid black;
    padding-left: 20px;
    min-width: 200px
}

.hero-content__review> img{
    width: 42px;
    height: 42px;
    margin-right: 10px;
}